div#background-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 100vh;
    z-index: -1;
}

div#background-container > div {
    background-color: transparent;
    transition: background-color 0ms linear;
}
